@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte-principal: "Inter";
    --cor-cinza: #667085;
    --cor-branca: #ffffff;
    --cor-vermelha: #8E2424;
    --cor-vermelha-hover: #a84949;

    --cor-qpreta: #101828;
    --cor-cinza-claro: #EAECF0;
    --cor-cinza3:#D0D5DD;
    --cor-qbranca: #F9FAFB  ;
    --cor--salmao: rgba(195, 25, 25, 0.03);





}

* {
    margin: 0;
    padding: 0;
    
     
}
 
.cabecalho {
    margin: 1.65rem 7em ;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cabecalho a {
    text-decoration: none;
     
}

.cabecalho__navbar {
    list-style: none;
    display: flex;
    margin-left: 25%;
    gap: 32px;
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;


}
.cabecalho__navbar a {
    color: var(--cor-cinza);
    background-image: linear-gradient(90deg, #8E2424,#8E2424);
    background-repeat: no-repeat;
    padding-bottom: 3px;
    background-size: 0% 3px;
    background-position: center bottom;
    transition: background-size 500ms ease;
}
 
.cabecalho__botao {
    display: flex;
    margin-left: 23.75rem;
    list-style: none;
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
    gap: 12px;
    
     
     
     
}
.botao__login {
    color: var(--cor-cinza);
}

.botao__cadastrar {
    padding: 10px 18px;
    color: #ffffff;
    background-color: var(--cor-vermelha);
    border-radius: 8px;
}


.container__sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--fonte-principal);
    margin: 5% 29%;
    gap: 24px;
}

.container__titulo {
    color: var(--cor-vermelha);
    font-size: 16px;
    font-weight: 600;
}
.container__sub {
    color: var(--cor-qpreta);
    font-size: 48px;
    font-weight: 600;

}
.container__vagas{
    color: var(--cor-vermelha);
    background-color: var(--cor--salmao);
    padding: 4px 12px;
    margin: 0 750px;
    border-radius: 16px ;
    font-size: 16px;
    font-weight: 600;
}
.container__texto {
    color: var(--cor-cinza);
    font-size: 20px;
    font-weight: 400;
}

.container__lista {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-principal);
    list-style: none;
    gap: 2rem;
     
}
.container__lista li {
    width: 280px;
    
}
.container__lista h1 {
    color: var(--cor-vermelha);
    font-size: 60px;
    font-weight: 600;
}

.container__lista h2 {
    color: var(--cor-qpreta);
    font-size: 18px;
    font-weight: 500;
    margin-top: 12px;
}

.container__lista p {
    color: var(--cor-cinza);
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.container__secundario {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--fonte-principal);
    margin: 12rem 7em ;
    gap: 16px;
    
}
.imagem__secundario {
    margin-top: 40px;
    margin-bottom: 0;
}

 
.lista__cargo{
    list-style-type: none;
    
     
     
}
.lista__cargo li {
    border: 1px solid var(--cor-cinza-claro);
    border-radius: 16px;
    padding: 25px;
    text-align: justify;
    gap: 32px;
    margin-bottom: 24px;
   
     
}
.lista__titulo{
    color: var(--cor-qpreta);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 500;
}
.lista__texto {
    display: flex;
    gap: 24px;
    padding: 2em 0 0 0;
    color: var(--cor-cinza);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    

}

 
.container__terciario {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-principal);
    width: 768px;
    margin-left: 30% ;
     
     
     
}


.titulo__cargo {
    text-align: justify;
    padding: 4em 0 2em 0;
    color: var(--cor-qpreta);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 500;
     

}
.container__desenvolvedor{
    display: block;
    margin: 1.65rem 7em;
    text-align: center;
    background-color: var(--cor--salmao);
    padding: 4em;

}
.desenvolvedor__t1 {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-vermelha);
    padding: 0 0 1em 0;
}
.desenvolvedor__t2 {
    font-family: var(--fonte-principal);
    font-size: 36px;
    font-weight: 500;
    color: var(--cor-qpreta);
    padding: 0 0 1em 0;

}

.desenvolvedor__nome {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-qpreta);
    padding: 1em 0 0.25em 0

}

.desenvolvedor__cargo {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-cinza)

}
.rodape {
    display: block;
    text-align: center;
    background-color: var(--cor-qbranca);
    margin-top: 6em;
    padding: 6em;
}

.rodape__titulo {
    font-family: var(--fonte-principal);
    font-size: 36px;
    font-weight: 600;
    color: var(--cor-qpreta);
    margin-bottom: 20px;
}
.rodape__subtitulo {
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-cinza);
    margin-bottom: 40px;
     
}

.rodape__email {
    width: 360px;
    height: 48px;
    margin-right: 16px;
    border: 1px solid var(--cor-cinza3);
    border-radius: 8px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fonte-principal);
    margin-bottom: 32px;
}
.rodape__botao {
    border-radius: 8px;
    height: 48px;
    width: 116px;
    border: none;
    background-color: var(--cor-vermelha);
    color: var(--cor-branca);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}

.rodape__direitos {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-cinza);
}

.rodape__botao:hover, .botao__cadastrar:hover {
    background-color: var(--cor-vermelha-hover);
}
.cabecalho__navbar a:hover {
    background-size: 100% 3px;
}
 